<div class="page-content">
    <div class="container">
        <div class="cover shadow-lg bg-white">
            <div class="cover-bg p-3 p-lg-4 text-white">
                <div class="row">
                    <div class="col-lg-8 col-md-7 text-center text-md-start">
                        <h2 class="h1 mt-2" data-aos="fade-left" data-aos-delay="0">Temiladeola Oladugba</h2>
                        <p data-aos="fade-left" data-aos-delay="100">Backend Developer</p>
                        <div class="d-print-none" data-aos="fade-left" data-aos-delay="200">
                            <a class="btn btn-success shadow-sm mt-1" href="#contact">Hire Me</a>
                        </div>
                    </div>
                </div>
            </div>
        <hr class="d-print-none"/>
        <div class="page-break"></div>
        <div class="education-section px-3 px-lg-4 pb-4">
            <h2 class="h3 mb-4">Education</h2>
            <div class="timeline">
                <div class="timeline-card timeline-card-success card shadow-sm">
                    <div class="card-body">
                        <div class="h5 mb-1">Bachelor of Science, Electrical and Electronics Engineering <span class="text-muted h6">from University of Lagos, Lagos, Nigeria  </span></div>
                        <div class="text-muted text-small mb-2">December 2017 - June 2022</div>
                        <div>Relevant Coursework: Engineering Calculus, Computer Programming, Introduction to switching and logic systems, Instrumentation and Measurement, Energy conversion, Engineering Statistics, Numerical Methods, Operational Methods, Signals and systems.</div>
                    </div>
                </div>
                <div class="timeline-card timeline-card-success card shadow-sm">
                    <div class="card-body">
                        <div class="h5 mb-1">Babington Macaulay Junior Seminary, Lagos, Nigeria</div>
                        <div class="text-muted text-small mb-2"> 2010 - 2016</div>
                        <div>
                            <ul>
                                <li>Cambridge Advanced levels (3 A’s: Mathematics, Physics & Chemistry)</li>
                                <li>West African Senior Secondary Certificate Examinations (7 A’s & 2 B’s)</li>
                                <li>Cambridge Ordinary Levels (6 A’s & 1 B)</li>
                                <li>Overall best student in Technical class, the best student in physics</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="d-print-none"/>
        <div class="projects-section px-3 px-lg-4">
            <h2 class="h3 mb-4">Projects</h2>
            <div class="timeline">
                <div class="timeline-card timeline-card-primary card shadow-sm">
                    <div class="card-body">
                        <div class="h5 mb-1">Automatic Door Unlock System</div>
                                <li>Implemented and tested a designed circuit using an Arduino on a breadboard to ensure the required functionality while communicating with the circuit design team.</li>
                                <li>Implemented necessary hardware changes as the Arduino software was updated.</li>
                                <li>Suggested software changes to maximise hardware performance which ensured the space required for the final circuit was reduced significantly.</li>
                                <li>Constructed and soldered final circuit using Veroboard, simultaneously making adjustments to ensure conformance to packaging specifications.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="timeline-card timeline-card-primary card shadow-sm">
                    <div class="card-body">
                        <div class="h5 mb-1">Variable Voltage Power Supply Unit</div>
                        <div>
                            <ul>
                                <li>Designed and simulated a circuit that can be plugged into AC mains and output a DC power supply between 0 - 12V while working within the limits of an established budget.</li>
                                <li>Tested the circuit on a breadboard while making sure no functionality was lost. Soldered the validated circuit on Veroboard and packaged it for easy access.</li>
                                <li>Presented final working circuit adequately passing across basic information explaining the circuit functionality while showing relevant voltage waveforms at various nodes in the circuit.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="d-print-none"/>
        <div class="work-experience-section px-3 px-lg-4">
            <h2 class="h3 mb-4">Leadership & Affiliations</h2>
            <div class="timeline">
                <div class="timeline-card timeline-card-primary card shadow-sm">
                    <div class="card-body">
                        <div class="h5 mb-1">Technical Secretary <span class="text-muted h6">at Redeemed Christian Fellowship, Lagos, Nigeria</span></div>
                        <div class="text-muted text-small mb-2">September 2019 - Present</div>
                        <div>
                            <ul>
                                <li>Organized and planned regular weekly meetings for the fellowship which involved regularly providing a sound system.</li>
                                <li>Coordinated and supervised a team of 15 members.</li>
                                <li>Compiled and reported monthly progress and status reports on the team activities.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="timeline-card timeline-card-primary card shadow-sm">
                    <div class = "card-body">
                        <div class="h5 mb-1">Automation and Controls Society Member <span class="text-muted h6">at IEEE UNILAG student body</span></div>
                        <div class="text-muted text-small mb-2">June 2020 - Present</div>
                        <div>
                            <ul>
                                <li>Collaborated with a team of 10 members on ways to encourage and foster the practical and professional understanding of the concepts of automation and control among students on campus.</li>
                                <li>Delivered virtual lectures to about 50 students on an introduction to Programmable Logic Controllers and Distributed Control Systems.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="d-print-none"/>
        <div class="skills-section px-3 px-lg-4">
            <h2 class="h3 mb-3">Professional Skills</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-2"><span>Java</span>
                        <div class="progress my-1">
                            <div class="progress-bar bg-primary" role="progressbar" data-aos="zoom-in-right" data-aos-delay="100" data-aos-anchor=".skills-section" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="mb-2"><span>Python</span>
                        <div class="progress my-1">
                            <div class="progress-bar bg-primary" role="progressbar" data-aos="zoom-in-right" data-aos-delay="200" data-aos-anchor=".skills-section" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="mb-2"><span>JavaScript</span>
                        <div class="progress my-1">
                            <div class="progress-bar bg-primary" role="progressbar" data-aos="zoom-in-right" data-aos-delay="300" data-aos-anchor=".skills-section" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-2"><span>Matlab/Octave</span>
                        <div class="progress my-1">
                            <div class="progress-bar bg-success" role="progressbar" data-aos="zoom-in-right" data-aos-delay="400" data-aos-anchor=".skills-section" style="width: 80%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="mb-2"><span>Proteus</span>
                        <div class="progress my-1">
                            <div class="progress-bar bg-success" role="progressbar" data-aos="zoom-in-right" data-aos-delay="500" data-aos-anchor=".skills-section" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="mb-2"><span>LTSpice</span>
                        <div class="progress my-1">
                            <div class="progress-bar bg-success" role="progressbar" data-aos="zoom-in-right" data-aos-delay="600" data-aos-anchor=".skills-section" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <hr class="d-print-none"/>
            <div class="contant-section px-3 px-lg-4 pb-4" id="contact">
                <h2 class="h3 text mb-3">Contact</h2>
                <div class="row">
                    <div class="col-md-7 d-print-none">
                        <div class="my-2">
                            <form action="/contact" method="POST">
                                <div class="row">
                                    <div class="col-6">
                                        <input class="form-control" type="text" id="name" name="name" placeholder="Your Name" required>
                                    </div>
                                    <div class="col-6">
                                        <input class="form-control" type="email" id="email" name="_replyto" placeholder="Your E-mail" required>
                                    </div>
                                </div>
                                <div class="form-group my-2">
                                    <textarea class="form-control" style="resize: none;" id="message" name="message" rows="4"  placeholder="Your Message" required></textarea>
                                </div>
                                <button class="btn btn-primary mt-2" type="submit">Send</button>
                            </form>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mt-2">
                            <h3 class="h6">Phone</h3>
                            <div class="pb-2 text-secondary">+234 808 80 7206</div>
                            <h3 class="h6">Email</h3>
                            <div class="pb-2 text-secondary">temioladugba@gmail.com</div>
                        </div>
                    </div>

                </div>
            </div>
        </div></div>
</div>