<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Temiladeola Oladugba's Resume</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin"/>
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap" media="print" onload="this.media='all'"/>
    <noscript>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap"/>
    </noscript>
    <link href="stylesheets/font-awesome/css/all.min.css?ver=1.2.0" rel="stylesheet">
    <link href="stylesheets/bootstrap.min.css?ver=1.2.0" rel="stylesheet">
    <link href="stylesheets/aos.css?ver=1.2.0" rel="stylesheet">
    <link href="stylesheets/main.css?ver=1.2.0" rel="stylesheet">
    <noscript>
        <style type="text/css">
            [data-aos] {
                opacity: 1 !important;
                transform: translate(0) scale(1) !important;
            }
        </style>
    </noscript>
</head>
<body id="top">
<header class="d-print-none">
    <div class="container text-center text-lg-left">
        <div class="py-3 clearfix">
            <a class="site-title mb-0" href="/">Temiladeola Oladugba's Resume</a>
            <div class="site-nav">
                <nav role="navigation">
                    <ul class="nav justify-content-center">
                        <li class="nav-item"><a class="nav-link" href="https://twitter.com/temiladeola_" title="Twitter"><i class="fab fa-twitter"></i><span class="menu-title sr-only">Twitter</span></a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="https://github.com/Temilade05" title="Github"><i class="fab fa-github"></i><span class="menu-title sr-only">Github</span></a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/in/temiladeola-oladugba/" title="LinkedIn"><i class="fab fa-linkedin"></i><span class="menu-title sr-only">LinkedIn</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>

<%- body%>

<footer class="pt-4 pb-4 text-muted text-center d-print-none">
    <div class="container">
        <div class="my-3">
            <div class="h4">Temiladeola Oladugba's Resume</div>
            <div class="footer-nav">
                <nav role="navigation">
                    <ul class="nav justify-content-center">
                        <li class="nav-item"><a class="nav-link" href="https://twitter.com/temiladeola_" title="Twitter"><i class="fab fa-twitter"></i><span class="menu-title sr-only">Twitter</span></a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="https://github.com/Temilade05" title="Github"><i class="fab fa-github"></i><span class="menu-title sr-only">Github</span></a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/in/temiladeola-oladugba/" title="LinkedIn"><i class="fab fa-linkedin"></i><span class="menu-title sr-only">LinkedIn</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>
<script src="javascripts/bootstrap.bundle.min.js?ver=1.2.0"></script>
<script src="javascripts/aos.js?ver=1.2.0"></script>
<script src="javascripts/main.js?ver=1.2.0"></script>
</body>
</html>